.header {
  width: 100%;
  margin: 40px 0 0;
  background: #1C1C21;
  padding: 16px 0;
}

.menu {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  margin-left: auto;
  margin-right: 289px;
}

.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: unset;
}
