.header {
  max-width: 1920px;
  margin: 40px 0 0;
  background: #1C1C21;
  padding: 16px 0;
}

.menu {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: auto;
  margin-right: 289px;
}
